doctype html
html
  head
    title Search @ XO
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/javascripts/vendors/jquery.js")
    script(src="/javascripts/vendors/underscore.js")
    script(src="/javascripts/vendors/backbone.js")
    script(src="/javascripts/vendors/socket.io.js")
  body
    block content
