extends layout

block content
  main.index
    h1
    ul#terms
    
  script(src="/javascripts/lib/collections/term_collection.js")
  script(src="/javascripts/lib/views/term_view.js")  
  script(src="/javascripts/lib/views/term_header_view.js")
  script(src="/javascripts/lib/views/term_list_view.js")
  script(src="/javascripts/lib/index.js")