extends layout

block content
  h1 Insights
  p A quick demo on Node with Socket.io

  ul#terms
    
  script(src="/javascripts/lib/collections/term_collection.js")
  script(src="/javascripts/lib/views/term_view.js")
  script(src="/javascripts/lib/views/term_list_view.js")
  script(src="/javascripts/lib/base.js")